body, html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 12px !important;
    overflow: hidden;
}

.claro .dijitToggleButton .dijitButtonNode
{
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
}

.claro .dijitToggleButtonHover .dijitButtonNode
{
    background-color: #A9A9A9 !important;
    background-image: url("images/titlebar.png") !important;
}

.claro .dijitToggleButtonChecked .dijitButtonNode
{
    background-color: #3F3F3F !important;
    background-image: url("images/button.png") !important;
}

.claro .dijitTooltipContainer
{
    background-color: #000000 !important;
    color: #ffffff !important;
    border: 2px solid #fff !important;
    font-size: 12px !important;
    font-family: Verdana !important;
    z-index: 1000;
}

.claro .dijitTooltipConnector
{
    width: 0px !important;
}

/* Infowindow sprite styles*/
.infowindow .sprite
{
    background-image: url("images/infowindow.png") !important;
    _background-image: none !important;
    color: White;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src='images/infowindow.png') !important;
}

.infowindow .titlebar
{
    color: White;
    font-size: 11px !important;
    font-weight: bold;
    font-family: verdana;
}

.infowindow .content
{
    color: White;
    font-family: Verdana;
    font-size: 11px !important;
    height: 280px !important;
}
/* Infowindow sprite styles*/

/*Alert DialogBox CSS */
.claro .dijitDialog
{
    background-color:Black;
}
.dijitDialogTitleBar
{
    background: url(images/titlebar.png) !important;
    color: White;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    background-color: Black !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
}

.dijitDialogCloseIcon
{
    background: url(images/dialogClose.png) no-repeat !important;
    right: 8px !important;
    width: 12px !important;
    height: 12px !important;
    top: 10px !important;
}

.divOk
{
    border-width: 1px;
    color: White;
    background-color: Black;
    width: 50px;
    height: 15px;
    border-style: solid;
    border-color: white;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
}

.claro .dijitDialogPaneContent
{
    background-color: Black !important;
    color: White;
}

.claro .dijitButton .dijitButtonNode
{
    background-color: Black !important;
    color: White;
}

.claro .dijitButtonHover .dijitButtonNode
{
    background-color: #003d7d !important;
    color: White !important;
}

.claro .dijitButtonActive .dijitButtonNode
{
    background-color: #ff9f0d !important;
    color: Black !important;
}



.claro .dijitTextBoxFocused .dijitInputContainer
{
    background-color: #000 !important;
    color: #fff !important;
}

.claro .dijitReset .dijitInputInner
{
    color: #fff !important;
}

.claro .dijitComboBoxMenu .dijitMenuItemSelected
{
    background-position: 0px -177px !important;
    background-color: #c0c0c0 !important;
    color: Black !important;
}

.claro .dijitComboBoxMenuActive .dijitMenuItemSelected
{
    background-position: 0px -177px;
    background-color: red !important;
    color: #fff !important;
}

.claro .dijitMenu
{
    background-color: Black !important;
    color: #fff !important;
}

.claro .dijitComboBoxMenu .dijitMenuItem
{
    border: 0px solid #000 !important;
}

.claro .dijitTabContainerBottom-dijitContentPane
{
    background-color: transparent !important;
    overflow: hidden;
    padding: 0px !important;
}

.claro .dijitTabChecked
{
    color: Black !important;
}

.claro .dijitTabChecked .dijitTabContent
{
    background-color: Orange !important;
    color: Black !important;
    background-position: 50% bottom !important;
}

.claro .dijitTabContainerBottom-tabs
{
    border-top: none !important;
}

.claro .dijitTabContent
{
    background-image: url(images/tabBottom.png) !important;
    background-color: #1C1C1C !important;
    width: 132px !important;
    border-top: #b5bcc7 1px solid !important;
    font-size: 11px;
    font-family: Verdana;
    color: White;
    padding-bottom: 7px !important;
    padding-top: 5px !important;
}

.claro .dijitTabPane
{
    border-bottom: 1px solid #fff !important;
}

.claro .dijitTabContainerBottom-dijitContentpane
{
    width: 440px !important;
}

.claro .dijitTabPaneWrapper
{
    background-color: transparent !important;
}

#divLoadingIndicator
{
    height: 100%;
    width: 100%;
    display: none;
    font-family: Verdana;
    background-color: Black;
    color: White;
    z-index: 100;
    position: absolute;
    bottom: 0px;
    filter: alpha(opacity = 55);
    -moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    opacity: 0.55;
}



.txtAreaMouseOver
{
    background-color: black;
    border: 1px solid #769dc0;
    width: 195px;
    color: white;
    font-family: Verdana;
    font-size: 11px;
    height: 45px;
    resize: none;
}

.txtBox
{
    font-size: 11px;
    width: 195px;
    height: 18px;
    color: White;
    background-color: Black;
    border: 1px solid #b5bcc7;
    padding: 0px !important;
}

.txtBoxMouseOver
{
    width: 195px;
    color: White;
    background-color: Black;
    border: 1px solid #769dc0;
}

.spanText
{
    color: white;
    cursor: pointer;
}

.divSubmitRequestContainer
{
    height: 225px;
    width: 100%;
}

.divServiceRequestDetails
{
    overflow: hidden;
    height: 225px;
}


/* CSS for Rounded Corners */

.rounded
{
    background: transparent url(images/buttonImage.png ) no-repeat scroll;
    clear: left;
    font-family: Verdana;
    font-size: 10px;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 84px;
    text-align: center;
    color: White;
    cursor: pointer;
}

span.rounded:hover
{
    background-position: 100% -30px;
}



.bottomborder
{
    border-bottom: 1px dotted white;
}

/* CSS for Rounded Corners */

.spanFileDetails
{
    color: White;
    cursor: pointer;
    text-decoration: underline;
}

.ratingStar
{
    display: inline-block;
    background-image: url(images/rating_empty.gif);
    background-position: left center;
    height: 15px;
    width: 15px;
    float: left;
}

.ratingStarChecked
{
    background-image: url(images/rating_full.gif);
}

.spanRating
{
    color: White;
}

#map
{
    position: relative;
    overflow: hidden;
    border: double silver;
    padding: 0px !important;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.headerBackground
{
    background-color: Black !important;
    width: 100%;
    height: 55px;
    filter: alpha(opacity=90);
    position: absolute;
    top: 0px;
    -moz-opacity: 0.90;
    -khtml-opacity: 0.90;
    opacity: 0.90;
    z-index: 100;
}

.header
{
    background-color: transparent;
    color: White;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    height: 55px;
    top: 10px;
    left: 100px;
    position: absolute;
    z-index: 100;
}

.headerContent
{
    color: White;
    background-color: transparent;
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 0px;
    height: 55px;
}

.headerIcon
{
    background-color: transparent;
    width: 75px;
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 5px;
}

.disabledText
{
    color: #8A8A8A;
    font-size: 11px;
    font-family: Verdana;
    
}

.text
{
    color: White;
    font-size: 11px;
    font-family: Verdana;
}

.textBox
{
    background-color: black !important;
    border: none;
    width: 226px;
    color: #fff;
    
}

#imgApp
{
    width: 75px;
    height: 60px;
    left: 0px;
    top: 0px;
    border: none;
    position: absolute;
}

#lblAppName
{
    font-size: 24px;
    font-weight: normal;
}

#imgLocateAddress
{
    width: 20px;
    height: 20px;
    right: 0px;
    top: 2px;
    position: relative;
    cursor: pointer;
}

#divAddressContainer
{
    position: absolute;
    z-index: 100;
    background-color: transparent;
    background-image: url("images/background.png");
    border: 1px solid #fff;
    width: 250px;
    top: 39px;
    right: 172px;
}

#divAddress
{
    position:relative;
    border: 1px solid #7D7D7D;
    width: 252px;
    background-color: Black;
}

#divBaseMapTitleContainer
{
    width: 250px;
    height: auto;
    position: absolute;
    z-index: 10000;
    top: 45px;
    right: 20px;
}

.basemapThumbnail
{
    -moz-box-shadow: 0 0 7px #000000;
    border: 1px solid #fff;
    height: 65px;
    margin: 1px;
    width: 100px;
    cursor: pointer;
    margin-top:0px;
    margin-left:0px;
    

}
.selectedBaseMap
{
    -webkit-box-shadow: 0 0 15px #63BA65;
    -moz-box-shadow: 0 0 15px #63BA65;
    box-shadow: 0 0 15px #63BA65;
    filter: progid:DXImageTransform.Microsoft.Glow(color='#8EAE21', Strength='6');
}
.baseMapContainerNode
{
    float: left;
    margin: 10px 10px 10px 10px;
    width: 100px;
}

.basemapLabel
{
    background-color: transparent;
    color: #fff;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: block;
}

.divBaseMapContainer
{
    background-color: transparent;
    background-image: url("images/background.png") !important;
    overflow: hidden !important;
    border: 1px solid #fff !important;
    width: 234px;
}


.tdAddress
{
    color: White;
    border-bottom: 1px solid #fff;
    width: 250px;
    cursor: pointer;
}
